<h1>Forum</h1>
<a href="forum/new" class="btn btn-secondary">New Post</a>
<% @posts.each do |post|%>
    <div class="card m-5">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <p>User: <%= post.username %></p>
                </div>
                <div class="col-sm-6">
                    <%= post.created_at.strftime("%d-%m-%Y %H:%M") %></p>
                </div>
            </div>            
            <hr />
            <div class="row pl-5 pr-5">
                <p><%= post.body %></p><br />
            </div>
        </div>
    </div>
<% end %>