<h1>Intro</h1><hr />
<p>The application is developed for people to discuss their views on economic development and annual GDP change for different countries.</p>
<p>The data is based on open data from the World Bank website and it uses that to display GDP per capita for countries</p>
<p>since 2000. The data is based on the current value of US$ using <a href="https://www.investopedia.com/updates/purchasing-power-parity-ppp/">PPP</a> (Purchasing Power Parity) principles.
<p>Another interesting approach for this would be the <a href="https://www.investopedia.com/ask/answers/09/big-mac-index.asp">BigMac Index</a> or <a href="http://bigmacindex.org/bmi-data-text-format.html">Historical BigMac Index</a></p>
<p>or <a href="https://www.bigmacindexconverter.com/">BigMac Index converter.</a>. On the GDP page the country can be selected</p>
<p>and the <a href="https://www.focus-economics.com/economic-indicator/gdp-per-capita">GDP per capita</a> would be displayed using a chart (<a href="https://www.highcharts.com/">Highcharts</a>) in the function of years.</p>
<p>Anyone who would like to share their thoughts or maybe raise questions is free to do so on the </p>
<p>forum tab which gives the user the opportunity to leave posts without registration.</p>
<br />
<p>Please use the app appropriately, any unrelated topics, questions or inappropriate posts will be deleted.</p>
<p>Enjoy!</p>
