<h1>Intro</h1>
<p>This application was developed to have a discussion on the economic growth of different countries</p>
<p>based on their GDP per capita for the past 10-20 years. On the GDP page the country can be selected</p>
<p>and the GDP per capita would be displayed using a chart in the function of years.</p>